<!DOCTYPE html>
<html lang="">

<head>
  <%- include('../partials/head') %>  
  <link rel="stylesheet" href="/css/mentorList.css">    
</head>

<body id="top">  
  <!-- Top Background Image Wrapper -->
  <div class="bgded overlay" style="background-image:url('/images/lighthouse.jpg');">
    <%- include('../partials/nav') %>
  </div>
  <!-- End Top Background Image Wrapper -->
  <div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="category">
        <h1 class = "title">직업</h1>
        <% for(let i =0; i< jobs.length; i++) { %>  
        <a href="" class="job" id = "<%= jobs[i].id %>" ><%= jobs[i].job %></a>        
        <% } %>
      </div>
      <div class="languages">
        <h1 class = "title">언어</h1>
        <% for(let i =0; i< langs.length; i++) { %>  
          <a href="" class="lang" id = "<%= langs[i].id %>"><%= langs[i].language %></a>
        <% } %>
      </div>
      <div class="container">
        <div class="mentors">      
          <% if(mentors.length >= 1) {%>              
          <% for(let i = 0; i <mentors.length; i++){ %>
            <div class="mentorBox">                    
              <a href="#" class="mentor">
                <div class="left">
                  <div class="firm"><%= mentors[i].firm %></div>
                  <span><%= mentors[i].department %></span>
                </div>                
                <img src="<%= mentors[i].path %>" alt="" class = "profile" style = "margin-top : 20px;">
                <div class="job_category"><%= mentors[i].department %></div>
                <div class="name"><%= mentors[i].username %></div>
                <div class="fields">                                    
                  <% for(let j = 0; j < mentors[i].MentoJobs.length; j++) { %>
                    <span><%= mentors[i].MentoJobs[j].Job.job %></span>
                  <% } %>
                </div> 
                <div class="language">
                  <% for(let k = 0; k < mentors[i].MentoLangs.length; k++) { %>
                    <span><%= mentors[i].MentoLangs[k].Lang.language %></span>
                  <% } %>
                </div>
                <div class="button">
              </a>
              <a href="" class = "follow">팔로우</a>
              </div>            
            </div>  
            <% }%>        
            <% }%>                   
        </div>
      </div>     
      <div class="clear"></div>
    </main>
  </div>
  <script src = "/js/mentoList.js"></script>  
    <%- include('../partials/foot') %>
    <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>                                                         
</body>

</html>