<!DOCTYPE html>
<html lang="">

<head>
  <%- include('../partials/head') %>  
  <link rel="stylesheet" href="/css/mentorList.css">    
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <style>
    .followed{
      display : block;
      width : 100%;
      padding : 5px 0;
      border-radius: 5px;
      border : 1px solid #829DA2;
      background-color : #0096884a;
      
      
      cursor: pointer;
      width: 100%;
    }
    .followed:hover{      
      background : none;
      color :  black;
      transition: 0.3s;
    }  
  </style>      
</head>

<body id="top">  
  <!-- Top Background Image Wrapper -->
  <div class="bgded overlay" style="background-image:url('/images/lighthouse.jpg');">
    <%- include('../partials/nav') %>
  </div>
  <!-- End Top Background Image Wrapper -->
  <div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="category">
        <h1 class = "title">직업</h1>
        <% for(let i =0; i< jobs.length; i++) { %>  
        <a href="" class="job" id = "<%= jobs[i].job_id %>" ><%= jobs[i].job_name %></a>        
        <% } %>
      </div>
      <div class="languages">
        <h1 class = "title">언어</h1>
        <% for(let i =0; i< langs.length; i++) { %>  
          <a href="" class="lang" id = "<%= langs[i].lang_id %>"><%= langs[i].lang_name %></a>
        <% } %>
      </div>
      <div class="container">
        <div class="mentors">      
          <% if(mentors.length >= 1) {%>              
          <% for(let i = 0; i <mentors.length; i++){ %>
            <div class="mentorBox">                    
              <a href="<%= `mentorlist/view/${mentors[i].mentor_id}` %>" class="mentor">
                <div class="left">
                  <div class="firm"><%= mentors[i].mentor_firm %></div>
                  <span><%= mentors[i].mentor_department %></span>
                </div>                
                <img src="<%= mentors[i].User.path %>" alt="" class = "profile" style = "margin-top : 20px;">
                <div class="job_category"><%= mentors[i].mentor_department %></div>
                <div class="name"><%= mentors[i].User.username %></div>
                <div class="fields">                                    
                  <% for(let j = 0; j < mentors[i].MentoJobs.length; j++) { %>
                    <span><%= mentors[i].MentoJobs[j].Job.job_name %></span>
                  <% } %>
                </div> 
                <div class="language">
                  <% for(let k = 0; k < mentors[i].MentoLangs.length; k++) { %>
                    <span><%= mentors[i].MentoLangs[k].Lang.lang_name %></span>
                  <% } %>
                </div>                
              </a>                         
              <div class="button">
              <% if(follows.includes(mentors[i].mentor_id)) {%>  
                <a href="<%= `/follow/unfollow/${mentors[i].mentor_id}` %>" class = "followed">팔로우중</a>                         
              <% }else{ %>
                <a href="<%= `/follow/${mentors[i].mentor_id}` %>" class = "follow">팔로우</a>                            
              <% } %>
              </div>            
            </div>  
            <% }%>        
            <% }%>                   
        </div>
      </div>     
      <div class="clear"></div>
    </main>
  </div>
  <script src = "/js/mentoList.js"></script>  
  <script>
    const button = document.getElementsByClassName('button');    
    const follow = document.getElementsByClassName('follow');    
    const followed = document.getElementsByClassName('followed');    
    let mentorNum;
    
    
    Array.from(follow).forEach((followBtn) => {
        followBtn.addEventListener('click', (e) => {
          e.preventDefault();        
          mentorNum = followBtn.href.charAt(followBtn.href.length-1);        
          console.log('mentorNum : ' + mentorNum );
          axios({
            method : "GET",
            url : `${followBtn.href}`,          
          }).then((response) => {
            if(response.headers['content-type'].includes('text/html')){
              location.href = '/login';
            }else{
              location.reload();
            }          
          }).catch(error => {
            console.log(error);
            throw new Error(error);
          })
        });
      });

      Array.from(followed).forEach((followBtn) => {
        followBtn.addEventListener('click', (e) => {
          e.preventDefault();        
          mentorNum = followBtn.href.charAt(followBtn.href.length-1);        
          console.log('mentorNum : ' + mentorNum );
          console.log('href: ' + followBtn.href );
          axios({
            method : "GET",
            url : `${followBtn.href}`,          
          }).then((response) => {
            if(response.headers['content-type'].includes('text/html')){
              location.href = '/login';
            }else{
              location.reload();
            }          
          }).catch(error => {
            console.log(error);
            throw new Error(error);
          })
        });
      });
      
  </script>
    <%- include('../partials/foot') %>
    <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>                                                         
</body>

</html>