<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <style>
     .one_half{
      margin : 0 0 0 40%;
    }
    
    .btn{
      width : 330px;
      padding : 10px 12px 12px;
    }

    #mail{
     background-color: #8FDFFF;
   }

   #kakao{
     background-color: yellow;
   }

   #naver{
     background-color: #3cbf3c;
   }

    body input, button{
      color : #FFFFFF;
      border-color : transparent;
      background-color: #829DA2;
      display : block;
      widows: 100%;
      padding: 14px;
      width : 330px;
      border : 1px solid;
    }

    button{
      cursor : pointer;
    }

    img{
      width : 30px;
      height: 30px;
      float : left;
    }

  </style>

  <body>
    <div class="bgded overlay" style="background-image:url('images/lighthouse.jpg');">
      <%- include('../partials/nav') %>
      <div id="pageintro" class="wrapper clear">
        <div class="one_half">
          <h6 class="heading">회원가입</h6>
            <form id="login-form" action="/auth" method="post">
              <fieldset>
                <label for="email">Username</label>
                <input class="btmspace-15" type="name" name="username" value placeholder="username" required autofocus>

                <label for="email">E-Mail</label>
                <input class="btmspace-15" type="email" name="email" value placeholder="email" required>
      
                <label for="password">Password</label>
                <input class="btmspace-15" type="password" name="password" value placeholder="password">
                
                <button id="mail" type="submit" class="btn"><img src="/images/login/mail.png" alt="메일가입" title="메일가입">Sign in</button>
                
                <footer>
                <a href="/auth/kakao" id="kakao" class="btn" style="text-align: right;"><img src="/images/login/kakao.png" alt="카카오톡" title="카카오톡">KakaoTalk Registration</a>
                <br>
                <a href="/auth/naver" id="naver" class="btn" style="text-align: right;"><img src="/images/login/naver.png" alt="네이버" title="네이버">Naver Registration</a>
                </footer>
              </fieldset>
            </form>
        </div>
      </div>
    </div>
  
        <%- include('../partials/foot') %>
   
        <%- include('../partials/copyright') %>
  
        <%- include('../partials/top') %>
    </body>
</html>