<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <style>
    .one_half{
      margin : 0 0 0 40%;
    }

    body input, button{
      color : #FFFFFF;
      border-color : transparent;
      background-color: #829DA2;
      display : block;
      widows: 100%;
      padding: 12px;
      border : 1px solid;
    }

  </style>
  <body>
  <div class="bgded overlay" style="background-image:url('images/lighthouse.jpg');">
    <%- include('../partials/nav') %>
    <div id="pageintro" class="wrapper clear">
      <div class="one_half">
        <h6 class="heading">로그인</h6>
          <form id="login-form" action="/users" method="post">
            <fieldset>
              <label for="email">E-Mail</label>
              <input class="btmspace-15" type="email" name="email" value placeholder="Email" required autofocus>
    
              <label for="password">Password</label>
              <input class="btmspace-15" type="password" name="password" value placeholder="Password" required>
              
              <button id="login" type="submit" class="btn">login</button>
              
              <footer>
              <a href="/auth" class="btn">User registration</a>
              <br>
              <a href="/users/kakao" class="btn">KakaoTalk Login</a>
              <br>
              <a href="/users/naver" class="btn">Naver Login</a>
              </footer>
            </fieldset>
          </form>
      </div>
    </div>
  </div>

      <%- include('../partials/foot') %>
 
      <%- include('../partials/copyright') %>

      <%- include('../partials/top') %>
  </body>
</html>