<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <style>
    .one_half {
      margin: 0 0 0 40%;
    }

    #mail {
      background-color: #8fdfff;
    }

    #kakao {
      background-color: yellow;
    }

    #kakao a:hover {
      color: rgb(66, 90, 1);
    }

    #naver {
      background-color: #3cbf3c;
    }

    #searchPw {
      width: 14%;
    }

    .btn {
      width: 330px;
      padding: 10px 12px 12px;
    }

    body input,
    button {
      color: #ffffff;
      border-color: transparent;
      background-color: #829da2;
      display: block;
      widows: 100%;
      padding: 14px;
      width: 330px;
      border: 1px solid;
    }

    button {
      cursor: pointer;
    }

    img {
      width: 30px;
      height: 30px;
      float: left;
    }
  </style>
  <body>
    <div
      class="bgded overlay"
      style="background-image: url('images/lighthouse.jpg')"
    >
      <%- include('../partials/nav') %>
      <div id="pageintro" class="wrapper clear">
        <div class="one_half">
          <h6 class="heading">로그인</h6>
          <form id="login-form" action="/login" method="post">
            <fieldset>
              <label for="email">이메일</label>
              <input
                class="btmspace-15"
                type="email"
                name="email"
                value
                placeholder="이메일을 입력해주세요"
                required
                autofocus
              />

              <label for="password">비밀번호</label>
              <input
                class="btmspace-15"
                type="password"
                name="password"
                value
                placeholder="비밀번호를 입력해주세요"
                required
              />

              <button
                id="login"
                type="submit"
                class="btn"
                style="font-weight: bold"
              >
                로그인
              </button>

              <div>
                <a href="/searchPassword" id="searchPw" style="color: beige"
                  >비밀번호를 잊으셨나요?</a
                >
              </div>

              <footer>
                <a
                  href="/auth"
                  id="mail"
                  class="btn"
                  style="text-align: right; font-weight: bold"
                  ><img
                    src="/images/login/mail.png"
                    alt="메일가입"
                    title="메일가입"
                  />회원가입</a
                >
                <br />
                <a
                  href="/auth/kakao"
                  id="kakao"
                  class="btn"
                  style="text-align: right; font-weight: bold"
                  ><img
                    src="/images/login/kakao.png"
                    alt="카카오톡"
                    title="카카오톡"
                  />카카오톡 로그인</a
                >
                <br />
                <a
                  href="/auth/naver"
                  id="naver"
                  class="btn"
                  style="text-align: right; font-weight: bold"
                  ><img
                    src="/images/login/naver.png"
                    alt="네이버"
                    title="네이버"
                  />네이버 로그인</a
                >
              </footer>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <%- include('../partials/foot') %> <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>
  </body>
</html>
