<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <style>
    .one_half {
      margin: 0 0 0 40%;
    }

    #mail {
      font-weight: bold;
    }

    #kakao {
      background-color: yellow;
    }

    #kakao a:hover {
      color: rgb(66, 90, 1);
    }

    #naver {
      background-color: #3cbf3c;
    }

    #searchPw {
      width: 14%;
    }

    .btn {
      width: 330px;
      padding: 10px 12px 12px;
    }

    body input,
    button {
      color: #ffffff;
      border-color: transparent;
      background-color: #829da2;
      display: block;
      widows: 100%;
      padding: 14px;
      width: 330px;
      border: 1px solid;
    }

    #pageintro .heading {
      margin-bottom: 20px;
      font-size: 3rem;
    }

    button {
      cursor: pointer;
    }

    img {
      width: 30px;
      height: 30px;
      float: left;
    }
  </style>
  <body>
    <div
      class="bgded overlay"
      style="background-image: url('images/lighthouse.jpg')"
    >
      <%- include('../partials/nav') %>
      <div id="pageintro" class="wrapper clear">
        <div class="one_half">
          <h6 class="heading">비밀번호 찾기</h6>
          <form id="login-form" action="/searchPassword" method="post">
            <fieldset>
              <h4
                style="
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                  margin: auto;
                  margin-right: 59%;
                "
              >
                새로운 비밀번호를 이메일을 통해 확인하세요.<br />
                로그인 후 <b>마이페이지 > 나의계정 > 비밀번호 설정</b><br />
                을 통해 비밀번호를 변경해주세요.
              </h4>
              <br />
              <label for="email">이메일</label>
              <input
                class="btmspace-15"
                type="email"
                name="email"
                value
                placeholder="이메일을 입력해주세요"
                required
                autofocus
              />
              <br />
              <br />
              <button id="mail" type="submit" class="btn">
                비밀번호 재설정 메일 전송
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

    <%- include('../partials/foot') %> <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>
  </body>
</html>
