<!DOCTYPE html>
<html lang="">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/mentor.css" />
  </head>

  <style>
    #password {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 20px auto;
      padding: 12px 5px;
      width: 85%;
      float: left;
      color: #829da2;
      widows: 100%;
    }

    .info {
      font-weight: bold;
      font-size: 12px;
      color: red;
    }

    label {
      padding: 4px 2px;
      width: 100%;
    }

    input[type="password"] {
      text-align: left;
      border: 1px solid #8080805c;
      width: 50%;
      padding: 12px 5px;
      margin: 20px auto;
      color: #829da2;
      cursor: auto;
      float: left;
    }

    input[type="submit"] {
      text-align: center;
      border: 1px solid #8080805c;
      width: 100%;
      padding: 12px 5px;
      margin: 20px auto;
      color: #829da2;
      cursor: pointer;
      float: left;
    }

    input[name="dropuser"] {
      width: 20%;
      float: left;
    }

    .content {
      width: 66%;
      float: left;
    }
    .profile {
      width: 100%;
      display: inline-block;
    }

    .image {
      margin: 20px auto;
      width: 25%;
      height: 25%;
      float: right;
      margin-right: 15%;
    }

    .button {
      margin: 0 auto;
      width: 100%;
    }
    #preview {
      background-color: aquamarine;
    }

    #alert-success,
    #alert-danger {
      float: right;
      margin: 30px auto;
    }
  </style>

  <body id="top">
    <!-- Top Background Image Wrapper -->
    <div
      class="bgded overlay"
      style="background-image: url('/images/lighthouse.jpg')"
    >
      <%- include('../partials/nav') %>

      <div id="breadcrumb" class="hoc clear">
        <h6 class="heading">마이 페이지</h6>
        <br />
        <ul>
          <li><a href="/index">메인</a></li>
          <li><a href="#">마이 페이지</a></li>
          <li><a href="/mypage/password">비밀번호 설정</a></li>
        </ul>
      </div>
    </div>
    <!-- End Top Background Image Wrapper -->
    <div class="wrapper row3">
      <main class="hoc container clear">
        <!--네비게이션-->
        <%- include('mypage_nav') %>
        <!--본 문-->
        <div class="content three_quarter">
          <h2 style="font-family: Verdana, Geneva, Tahoma, sans-serif">
            비밀번호 변경
          </h2>
          <form action="/mypage/password" id="passwordForm" method="post">
            <div class="one_two first">
              <label for="name">현재 비밀번호<span>*</span></label>
              <input
                type="password"
                name="current_password"
                id="current_password"
                size="22"
                required
              />
            </div>

            <div class="one_two first">
              <label for="name">새 비밀번호<span>*</span></label>
              <input
                type="password"
                name="new_password"
                id="new_password"
                size="22"
                class="pw"
                required
              />
            </div>

            <div class="one_two first">
              <label for="name">새 비밀번호 확인<span>*</span></label>
              <input
                type="password"
                name="confirmation"
                id="confirm"
                size="22"
                class="pw"
                required
              />
              <span id="alert-success" style="display: none; font-weight: bold"
                >비밀번호가 일치합니다.</span
              >
              <span
                id="alert-danger"
                style="display: none; color: #d92742; font-weight: bold"
                >비밀번호가 일치하지 않습니다.</span
              >
            </div>

            <div class="button">
              <input type="submit" id="btn" name="submit" value="변경 하기" />
            </div>
          </form>
        </div>
        <div class="clear"></div>
      </main>
    </div>
    <%- include('../partials/foot') %> <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>
  </body>

  <script>
    function submit() {
      document.getElementById("btn").addEventListener("click", function (e) {
        let pwd1 = $("#new_password").val();
        let pwd2 = $("#confirm").val();

        if (pwd1 != pwd2) {
          alert("바꾸려는 비밀번호 일치여부를 확인해주세요.");
          e.preventDefault();
        }
        passwordForm.submit();
      });
    }

    $(".pw").focusout(function () {
      let pwd1 = $("#new_password").val();
      let pwd2 = $("#confirm").val();

      if (pwd1 != "" && pwd2 == "") {
      } else if (pwd1 != "" || pwd2 != "") {
        if (pwd1 == pwd2) {
          $("#alert-success").css("display", "inline");
          $("#alert-danger").css("display", "none");
        } else {
          $("#alert-success").css("display", "none");
          $("#alert-danger").css("display", "inline");
        }
      }
    });
    submit();
  </script>
</html>
