<!DOCTYPE html>
<html lang="">

<head>
  <%- include('../partials/head') %>
    <style>
      .job {
        font-family: sans-serif;
        font-size: 30px;
        font-weight: bold;
      }

      .subcontainer {
        display: inline;
      }

      .content {
        display: inline-block;
        width: 100%;
        line-height: 24px;
      }

      .icon {
        float: left;
        width: 150px;
        height: 150px;
        line-height: 20px;
      }

      .content span {
        font-size: 16px;
      }

      .desc {
        width: 700px;
      }

      .button {
        float: right;
        line-height: 30px;
      }

      .button a {
        font-weight: bold;
        padding: 10px 5px;
        border-radius: 5px;
        border: 2px solid #829DA2;
      }

      .button a:hover {
        background-color: #cadbdc38;
        color: black;
      }

      .list {
        margin-top: 50px;
      }

      .fa {}

      .image {
        float: right;
        margin-bottom: 5%;
      }

      .image img {
        height: 300px;
      }

      .title {
        float: right;
        border: 1px solid #829DA2;
      }
    </style>
</head>
<!-- 242c38 -->

<body id="top" style="background-color: white;">
  <!-- Top Background Image Wrapper -->
  <!-- <div class="bgded overlay" > -->
  <div class="bgded overlay"
    style="background-image:url('https://fjwp.s3.amazonaws.com/blog/wp-content/uploads/2019/10/09103114/Career-Change-30-1.png');">
    <%- include('../partials/nav') %>
      <div id="pageintro" class="hoc clear">

        <article>
          <h1 class="heading">진로 탐색</h1>
          <p id="story">세상에는 다양한 분야의 개발자가 있습니다.<br>아래의 소개글을 읽어보시고 적성에 맞는 분야를 찾아보세요</p>
          <footer>

          </footer>
        </article>

      </div>

  </div>
  <!-- End Top Backg  round Image Wrapper -->
  <div class="wrapper row3">

    <section id="introblocks">
      <!-- ***************************************************************************** -->
      <!-- ***************************************************************************** -->
      <!-- in progress ***************************************************************** -->
      <!-- 919eb6 -->
      <main class="hoc container clear">
        <!-- main body -->
        <!-- ################################################################################################ -->
        <div class="container">
          <div class="subcontainer">
            <div class="content">
              <h1 class="job">프론트엔드 개발자</h1>
              <img src="/asset/job_seeking/game_console.jpg" alt="" class="icon">
              <div class="desc">
                <span>
                  게임 개발자는 소스코드를 통해 게임을 개발합니다. 게임 개발에는 그래픽 처리를 위한 코딩도 필요하고 그래픽 뒤에 데이터 처리를 위한 프로그래밍도 필요합니다.
                  
                </span>
              </div>
              <div class="button"><a href="/career/job_seeking/front" class="title">자세히</a></div>
            </div>
            <div class="image">
              <img src="/asset/job_seeking/game_lego.jpg" alt="">
            </div>
          </div>
          <hr>
          <br><br>

          <div class="subcontainer">
            <div class="content">
              <h1 class="job">백엔드 개발자</h1>
              <img src="/asset/job_seeking/game_console.jpg" alt="" class="icon">
              <div class="desc">
                <span>
                  게임 개발자는 소스코드를 통해 게임을 개발합니다. 게임 개발에는 그래픽 처리를 위한 코딩도 필요하고 그래픽 뒤에 데이터 처리를 위한 프로그래밍도 필요합니다.
                </span>
              </div>
              <div class="button"><a href="/career/job_seeking/back" class="title">자세히</a></div>
            </div>
            <div class="image">
              <img src="/asset/job_seeking/game_lego.jpg" alt="">
            </div>
          </div>
          <hr>
          <br><br>

          <div class="subcontainer">
            <div class="content">
              <h1 class="job">보안 전문가</h1>
              <img src="/asset/job_seeking/game_console.jpg" alt="" class="icon">
              <div class="desc">
                <span>
                  게임 개발자는 소스코드를 통해 게임을 개발합니다. 게임 개발에는 그래픽 처리를 위한 코딩도 필요하고 그래픽 뒤에 데이터 처리를 위한 프로그래밍도 필요합니다.
                </span>
              </div>
              <div class="button"><a href="/career/job_seeking/front" class="title">자세히</a></div>
            </div>
            <div class="image">
              <img src="/asset/job_seeking/game_lego.jpg" alt="">
            </div>
          </div>
          <hr>
          <br><br>

          <div class="subcontainer">
            <div class="content">
              <h1 class="job">모바일 개발자</h1>
              <img src="/asset/job_seeking/game_console.jpg" alt="" class="icon">
              <div class="desc">
                <span>
                  게임 개발자는 소스코드를 통해 게임을 개발합니다. 게임 개발에는 그래픽 처리를 위한 코딩도 필요하고 그래픽 뒤에 데이터 처리를 위한 프로그래밍도 필요합니다.
                </span>
              </div>
              <div class="button"><a href="/career/job_seeking/front" class="title">자세히</a></div>
            </div>
            <div class="image">
              <img src="/asset/job_seeking/game_lego.jpg" alt="">
            </div>
          </div>
          <hr>
          <br><br>

          <div class="subcontainer">
            <div class="content">
              <h1 class="job">게임 개발자</h1>
              <img src="/asset/job_seeking/game_console.jpg" alt="" class="icon">
              <div class="desc">
                <span>
                  게임 개발자는 소스코드를 통해 게임을 개발합니다. 게임 개발에는 그래픽 처리를 위한 코딩도 필요하고 그래픽 뒤에 데이터 처리를 위한 프로그래밍도 필요합니다.
                </span>
              </div>
              <div class="button"><a href="/career/job_seeking/front" class="title">자세히</a></div>
            </div>
            <div class="image">
              <img src="/asset/job_seeking/game_lego.jpg" alt="">
            </div>
          </div>
          <hr>
          <br><br>

          <div class="subcontainer">
            <div class="content">
              <h1 class="job">데스크탑 개발자</h1>
              <img src="/asset/job_seeking/game_console.jpg" alt="" class="icon">
              <div class="desc">
                <span>
                  게임 개발자는 소스코드를 통해 게임을 개발합니다. 게임 개발에는 그래픽 처리를 위한 코딩도 필요하고 그래픽 뒤에 데이터 처리를 위한 프로그래밍도 필요합니다.
                </span>
              </div>
              <div class="button"><a href="/career/job_seeking/front" class="title">자세히</a></div>
            </div>
            <div class="image">
              <img src="/asset/job_seeking/game_lego.jpg" alt="">
            </div>
          </div>
          <hr>
          <br><br>

          <div class="subcontainer">
            <div class="content">
              <h1 class="job">빅데이터 전문가</h1>
              <img src="/asset/job_seeking/game_console.jpg" alt="" class="icon">
              <div class="desc">
                <span>
                  게임 개발자는 소스코드를 통해 게임을 개발합니다. 게임 개발에는 그래픽 처리를 위한 코딩도 필요하고 그래픽 뒤에 데이터 처리를 위한 프로그래밍도 필요합니다.
                </span>
              </div>
              <div class="button"><a href="/career/job_seeking/front" class="title">자세히</a></div>
            </div>
            <div class="image">
              <img src="/asset/job_seeking/game_lego.jpg" alt="">
            </div>
          </div>
          <hr>
          <br><br>

          <div class="subcontainer">
            <div class="content">
              <h1 class="job">임베디드 개발자</h1>
              <img src="/asset/job_seeking/game_console.jpg" alt="" class="icon">
              <div class="desc">
                <span>
                  게임 개발자는 소스코드를 통해 게임을 개발합니다. 게임 개발에는 그래픽 처리를 위한 코딩도 필요하고 그래픽 뒤에 데이터 처리를 위한 프로그래밍도 필요합니다.
                </span>
              </div>
              <div class="button"><a href="/career/job_seeking/front" class="title">자세히</a></div>
            </div>
            <div class="image">
              <img src="/asset/job_seeking/game_lego.jpg" alt="">
            </div>
          </div>
          <hr>
          <br><br>

          <div class="subcontainer">
            <div class="content">
              <h1 class="job">교육자</h1>
              <img src="/asset/job_seeking/game_console.jpg" alt="" class="icon">
              <div class="desc">
                <span>
                  게임 개발자는 소스코드를 통해 게임을 개발합니다. 게임 개발에는 그래픽 처리를 위한 코딩도 필요하고 그래픽 뒤에 데이터 처리를 위한 프로그래밍도 필요합니다.
                </span>
              </div>
              <div class="button"><a href="/career/job_seeking/front" class="title">자세히</a></div>
            </div>
            <div class="image">
              <img src="/asset/job_seeking/game_lego.jpg" alt="">
            </div>
          </div>
          <hr>
          <br><br>

        </div>
        <!-- ################################################################################################ -->
        <!-- / main body -->
        <div class="clear"></div>
      </main>
      <div><br></div>
    </section>

    <div class="clear"></div>
  </div>
  <!-- <%- include('../partials/foot') %> -->
  <%- include('../partials/copyright') %>
    <%- include('../partials/top') %>

</body>

</html>