<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            h2 {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bold;
                font-size: 3em;
            }

            h2,
            h3 {
                margin-bottom: 50px;
                width: 90%;
            }

            h2,
            h3,
            b {
                color: brown;
            }

            h3 {
                font-size: 2em;
                width: 90%;
            }

            h4 {
                font-size: 1.3em;
            }

            .nav-container {
                display: flex;
                flex-direction: row;
                padding: 0;
                list-style-type: none;
                width: 1140px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 5px;
                margin-top: 8px;
                color: inherit;
            }

            .nav-item {
                text-align: center;
                cursor: pointer;
                /* float: left; */
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                background-color: black;
            }

            .nav-item:hover {
                background-color: gray;
            }


            .nav-item a {
                padding: 15px;

                text-align: center;
                text-decoration: none;
                color: white;
                display: block;
                width: 100%;
            }

            .main {
                background-color: black;
            }

            * {
                margin: 0;
                padding: 0;
            }

            ul,
            li {
                list-style: none;
            }

            #slide {
                position: relative;
            }

            #slide ul {
                width: 500%;
                height: 100%;
                transition: 1s;
            }

            /* 슬라이드 안 내용물 */


            #slide ul:after {
                content: "";
                display: block;
                clear: both;
            }

            #slide li {
                float: left;
                width: 20%;
                height: 100%;
            }

            #slide-ul li {
                float: left;
                width: 15%;
                height: 100%;
                margin-right: 2.5%;
                margin-left: 2.5%;
            }


            #slide input {
                display: none;
                list-style: none;
            }

            #slide label {
                display: inline-block;
                vertical-align: middle;
                width: 150px;
                height: 50px;
                padding: 15px;
                /* border: 2px solid #666; */
                background-color: #ccc;
                transition: 0.3s;
                /* border-radius: 50%; */
                cursor: pointer;
            }

            #slide .pos {
                text-align: center;
                width: 100%;
                color: white;
                margin-bottom: 5%;
                margin-top: 5%;
            }

            #pos1:checked~ul {
                margin-left: 0%;
            }

            #pos2:checked~ul {
                margin-left: -100%;

            }

            #pos3:checked~ul {
                margin-left: -200%;
            }

            #pos4:checked~ul {
                margin-left: -300%;
            }

            #pos5:checked~ul {
                margin-left: -400%;
            }

            #pos1:checked~.pos>label:nth-child(1) {
                background: #666;
            }

            #pos2:checked~.pos>label:nth-child(2) {
                background: #666;
            }

            #pos3:checked~.pos>label:nth-child(3) {
                background: #666;
            }

            #pos4:checked~.pos>label:nth-child(4) {
                background: #666;
            }

            #pos5:checked~.pos>label:nth-child(5) {
                background: #666;
            }


            body {
                color: black;
            }

            h3,
            h4 {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            main .div-text {
                display: inline;
                float: left;
                width: 50%;
            }

            main .div-img {
                /* border: 1px solid black; */
                width: 50%;
                /* background-color: blue; */
                /* text-align: center; */
                /* margin: 0 auto; */
                float: right;
                text-align: center;
                vertical-align: middle;
            }

            #ul-list {
                align-content: flex-start;
                flex-direction: column;
                flex-wrap: wrap;
                overflow: auto;
                margin-top: 10px;
            }

            #intro_img {
                width: 90%;
                vertical-align: middle;
                margin-top: 20%;
            }

            #img-output {
                float: left;
                width: 100px;
                margin-right: 20px;
            }

            #img-background {
                width: 300px;
            }

            .inner_li {
                margin-left: 5%;
                margin-right: 5%;
                vertical-align: middle;
            }

            .output_img {
                float: right;
                width: 40%;
                vertical-align: middle;
                bottom: 0;
            }

            .div-output {
                margin: 10px;
                padding: 10px;
            }

            .div-company p {
                margin-bottom: 10px;
            }

        </style>
</head>

<body>
    <% const path=sendJson.path %>
        <div class="bgded overlay" style="background-image:url('/images/lighthouse.jpg');">
            <%- include('../partials/nav') %>
                <div style="background-color: white; color: black;">
                    </h2>
                    <div id="slide">
                        <nav class="nav-container">
                            <ul id="ul-list">
                                <li id="front" class="nav-item"><a href="/career/job_seeking/front" class="wooted">프론트엔드
                                        개발자</a></li>
                                <li id="back" class="nav-item"><a href="/career/job_seeking/back">백엔드 개발자</a></li>
                                <li id="security" class="nav-item"><a href="/career/job_seeking/security">보안 전문가</a>
                                </li>
                                <li id="mobile" class="nav-item"><a href="/career/job_seeking/mobile">모바일 개발자</a></li>
                                <li id="game" class="nav-item"><a href="/career/job_seeking/game">게임 개발자</a></li>
                                <li id="desktop" class="nav-item"><a href="/career/job_seeking/desktop">데스크탑 개발자</a>
                                </li>
                                <li id="big_data" class="nav-item"><a href="/career/job_seeking/big_data">빅데이터 전문가</a>
                                </li>
                                <li id="embedded" class="nav-item"><a href="/career/job_seeking/embedded">임베디드 개발자</a>
                                </li>
                                <li id="edu" class="nav-item"><a href="/career/job_seeking/edu">교육자</a></li>
                            </ul>
                        </nav>

                        <!-- full배열 -->
                        <!-- <main class="hoc container clear"> -->
                        <main>

                            <input type="radio" name="pos" id="pos1" checked>
                            <input type="radio" name="pos" id="pos2">
                            <input type="radio" name="pos" id="pos3">
                            <input type="radio" name="pos" id="pos4">
                            <input type="radio" name="pos" id="pos5">
                            <p class="pos">
                                <label for="pos1">소개</label>
                                <label for="pos2">결과물</label>
                                <label for="pos3">언어</label>
                                <label for="pos4">학습지식</label>
                                <label for="pos5">기업</label>
                            </p>
                            <ul id="slide-ul">
                                <!--   소개   -->
                                <li>
                                    <div class="inner_li">
                                        <div class="div-text">
                                            <h2>
                                                <%= sendJson.title %>란?
                                            </h2>
                                            <h3>
                                                <%= sendJson.intro %>
                                            </h3>
                                            <h4>
                                                <%= sendJson.intro_detail %>
                                            </h4>
                                        </div>
                                        <div class="div-img">
                                            <img id="intro_img" src="<%= `${path}intro.png` %> " alt="">
                                        </div>
                                    </div>
                                </li>
                                <!-- 결과물 -->
                                <li>
                                    <div class="inner_li">
                                        <div class="div-text" style="width: 90%;">
                                            <h2>사례</h2>
                                            <!-- 결과물 한 개 -->
                                            <% const output=sendJson.output %>
                                                <% const output_detail=sendJson.output_detail %>
                                                    <% output.forEach(function(param1){ %>
                                                        <hr>
                                                        <div class="div-output">
                                                            <!-- 결과물 설명글 -->
                                                            <div
                                                                style="margin-left: 20px; float: LEFT; margin-right: 0;">
                                                                <h3><b>
                                                                        <%= param1 %>
                                                                    </b>
                                                                </h3>
                                                                <% output_detail[param1].forEach(function(param2){ %>
                                                                    <h4>
                                                                        - <%= param2 %>
                                                                    </h4>
                                                                    <% }) %>
                                                            </div>
                                                            <!-- 결과물 이미지 -->
                                                            <div class="div-img">
                                                                <img id="output_img"
                                                                    src="<%= `${path}${param1}.png` %> " alt="alt"
                                                                    style="margin-top: 10%;">
                                                            </div>
                                                        </div>
                                                        <div style="clear: both; margin-bottom: 50px;"></div>
                                                        <% }) %>
                                                            <hr>
                                                            <div style="clear: both; margin-bottom: 50px;"></div>
                                        </div>
                                    </div>
                                </li>
                                <!-- 언어 -->
                                <li>
                                    <div class="inner_li">
                                        <h2>개발에 사용되는 언어</h2>
                                        <h3>
                                            <% sendJson.language.forEach(function(val){ %>
                                                <b>
                                                    [<%= val %>]
                                                </b>
                                                <% }) %>
                                        </h3>
                                        <% const language=sendJson.language %>
                                            <% const language_detail=sendJson.language_detail %>
                                                <!-- 결과물 한 개 -->
                                                <% language.forEach(function(paramLanguage){ %>
                                                    <hr style="margin-bottom: 5%;">
                                                    <div>
                                                        <!-- 이미지 -->
                                                        <div style="text-align: center;">
                                                            <img src="<%= `${path}${paramLanguage}.png` %> " alt=""
                                                                style="width: 40%; margin-bottom: 5px;">
                                                            <% console.log('under path') %>
                                                                <% console.log(`${path}${paramLanguage}.png`) %>
                                                        </div>
                                                        <!-- 텍스트-설명 -->
                                                        <div style="text-align: center;">
                                                            <% language_detail[paramLanguage].forEach(function(paramLanguage_detail){
                                                                %>
                                                                <h4 style="font-weight: bold;">
                                                                    "<%= paramLanguage_detail %>"
                                                                </h4>
                                                                <% }) %>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                                        <!-- <% sendJson.language.forEach(function(val){ %>
                                            <div>
                                                <p style="font-size: 10px;">
                                                <h4>
                                                    <b>[<%= val %>]</b> :
                                                    <%= sendJson.language_detail[val] %>
                                                </h4>
                                                </p>
                                            </div>
                                            <div style="clear: both; margin-bottom: 50px;"></div>
                                            <% }) %> -->
                                    </div>
                                </li>
                                <!-- 배경지식 -->
                                <li>
                                    <div class="inner_li">
                                        <h2>학습지식</h2>
                                        <% sendJson.background.forEach(function(val){ %>
                                            <div>
                                                <p style="font-size: 10px;">
                                                <h3 style="margin-bottom: 2.5%;">
                                                    <b>
                                                        <%= val %>
                                                    </b>
                                                </h3>
                                                <h4>
                                                    <% sendJson.background_detail[val].forEach(function(param){ %>
                                                        <p style="margin-bottom: 10px;">
                                                            👍🏻 <%= param %>
                                                        </p>
                                                        <% }) %>
                                                </h4>
                                                </p>
                                            </div>
                                            <div style="clear: both; margin-bottom: 50px;"></div>
                                            <% }) %>
                                    </div>
                                </li>
                                <div></div>
                                <!-- 진로 -->
                                <li>
                                    <div class="inner_li">
                                        <h2>관련 기업</h2>
                                        <% sendJson.company_list.forEach(function(val){ %>
                                            <hr>
                                            <div style="margin-top: 20px;">
                                                <h3 style="margin-bottom: 20px;"><b>
                                                        <%= val %>
                                                    </b></h3>
                                            </div>
                                            <div class="div-company">
                                                <h4>
                                                    <p>
                                                        <b>
                                                            소개 :
                                                        </b>
                                                        <%= sendJson.company_list_detail[val].소개 %>
                                                    </p>
                                                    <p>
                                                        <b>
                                                            규모 :
                                                        </b>
                                                        <%= sendJson.company_list_detail[val].회사규모 %>
                                                    </p>
                                                    <p>
                                                        <b>
                                                            하는일 :
                                                        </b>
                                                        <%= sendJson.company_list_detail[val].하는일 %>
                                                    </p>
                                                    <p>
                                                        <b>
                                                            위치 :
                                                        </b>
                                                        <%= sendJson.company_list_detail[val].회사위치 %>
                                                    </p>
                                                </h4>
                                            </div>
                                            <div style="clear: both; margin-bottom: 50px;"></div>
                                            <% }) %>
                                    </div>
                                </li>
                            </ul>
                            <p class="pos">
                                <label for="pos1">소개</label>
                                <label for="pos2">결과물</label>
                                <label for="pos3">언어</label>
                                <label for="pos4">학습지식</label>
                                <label for="pos5">기업</label>
                            </p>
                        </main>
                    </div>
                </div>
                <%- include('../partials/copyright') %>
                    <%- include('../partials/top') %>
</body>
<script>
    let initData = JSON.parse('<%-JSON.stringify(sendJson.job)%>');
    // console.log(typeof('<%- sendJson.job %>'));
    document.getElementById(initData)
        .style
        .backgroundColor = 'gray'
</script>

</html>