<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <style>
            h2 {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bold;
            }

            .nav-container {
                display: flex;
                flex-direction: row;
                padding: 0;
                background-color: rgba(0, 0, 0, .5);
                list-style-type: none;
                width: 1140px;
                margin-left: auto;
                margin-right: auto;
                border-radius: 5px;
                margin-top: 8px;
                color: inherit;
            }

            .nav-item {
                border: 0.5px solid white;
                text-align: center;
                padding: 15px;
                cursor: pointer;
                /* float: left; */
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            }

            .nav-item a {
                text-align: center;
                text-decoration: none;
                color: white;
            }

            .main {
                background-color: black;
            }

            * {
                margin: 0;
                padding: 0;
            }

            ul,
            li {
                list-style: none;

            }

            #slide {
                height: 800px;
                position: relative;
            }

            #slide ul {
                width: 400%;
                height: 100%;
                transition: 1s;
            }

            #slide ul:after {
                content: "";
                display: block;
                clear: both;
            }

            #slide li {
                float: left;
                width: 25%;
                height: 100%;
            }



            #slide li:nth-child(1) {
                background: inherit;
            }

            #slide li:nth-child(2) {
                background: inherit;
            }

            #slide li:nth-child(3) {
                background: inherit;
            }

            #slide li:nth-child(4) {
                background: inherit;
            }

            #slide input {
                display: none;
                list-style: none;
            }

            #slide label {
                display: inline-block;
                vertical-align: middle;
                /* width: 100px;
                height: 100px; */
                padding: 30px;
                /* border: 2px solid #666; */
                background-color: #ccc;
                transition: 0.3s;
                /* border-radius: 50%; */
                cursor: pointer;
            }

            #slide .pos {
                text-align: center;
                position: absolute;
                bottom: 10px;
                left: 0;
                width: 100%;
            }

            #pos1:checked~ul {
                margin-left: 0%;
            }

            #pos2:checked~ul {
                margin-left: -100%;

            }

            #pos3:checked~ul {
                margin-left: -200%;
            }

            #pos4:checked~ul {
                margin-left: -300%;
            }

            #pos1:checked~.pos>label:nth-child(1) {
                background: #666;
            }

            #pos2:checked~.pos>label:nth-child(2) {
                background: #666;
            }

            #pos3:checked~.pos>label:nth-child(3) {
                background: #666;
            }

            #pos4:checked~.pos>label:nth-child(4) {
                background: #666;
            }

            body {
                color: black;
            }

            h3,
            h4 {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            main .div-text {
                display: inline;
                float: left;
            }

            main .div-img {
                /* border: 1px solid black; */
                width: 400px;
                float: right;
                /* background-color: blue; */
                /* text-align: center; */
                margin-top: 40px;
            }
        </style>

</head>

<body>
    <div class="bgded overlay" style="background-image:url('/images/lighthouse.jpg');">

        <%- include('../partials/nav') %>
            <div style="background-color: white; color: black;">
                </h2>
                <div id="slide">
                    <nav class="nav-container">
                        <ul>
                            <li class="nav-item"><a href="">프론트엔드 개발자</a></li>
                            <li class="nav-item"><a href="">백엔드 개발자</a></li>
                            <li class="nav-item"><a href="">풀스택 개발자</a></li>
                            <li class="nav-item"><a href="">데스크탑 개발자</a></li>
                            <li class="nav-item"><a href="">모바일 개발자</a></li>
                            <li class="nav-item"><a href="">게임 개발자</a></li>
                            <li class="nav-item"><a href="">빅데이터 전문가</a></li>
                            <li class="nav-item"><a href="">임베디드 개발자</a></li>
                            <li class="nav-item"><a href="">교육자</a></li>
                        </ul>
                    </nav>

                    <main class="hoc container clear">

                        <input type="radio" name="pos" id="pos1" checked>
                        <input type="radio" name="pos" id="pos2">
                        <input type="radio" name="pos" id="pos3">
                        <input type="radio" name="pos" id="pos4">

                        <ul>
                            <li>
                                <div>
                                    <div class="div-text">
                                        <h2>
                                            <%= sendJson.title %>
                                        </h2>
                                        <h3>
                                            <%= sendJson.introduction %>
                                        </h3>
                                        <h4>
                                            <%= sendJson.introduction %>
                                        </h4>
                                    </div>
                                    <div class="div-img">
                                        <img src="/asset/job_seeking/front_intro.png" alt="">
                                    </div>

                                </div>
                            </li>
                            <li>
                                <h2>프론트엔드 결과물</h2>
                                <img src="<%= sendJson.dir_img %> " alt="" style="height: 200px;">
                            </li>
                            <li>
                                <h2>언어</h2>
                            </li>
                            <li>
                                <h2>^^</h2>
                            </li>
                        </ul>
                        <p class="pos">
                            <label for="pos1">소개</label>
                            <label for="pos2">결과물</label>
                            <label for="pos3">언어</label>
                            <label for="pos4">학습지식</label>
                        </p>
                    </main>
                </div>

            </div>

            <%- include('../partials/copyright') %>
                <%- include('../partials/top') %>
</body>

</html>